@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111;
  color: #fff;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.swiper-button-prev,
.swiper-button-next {
  background-color: rgb(6 182 212);
}

#root .swiper-button-prev,
#root .swiper-button-next {
  color: black;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

#root .swiper-button-prev::after,
#root .swiper-button-next::after {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

#root .swiper-button-prev {
  left: 0px;
}

#root .swiper-button-next {
  right: 0px;
}

#root .swiper-button-next:hover,
#root .swiper-button-prev:hover {
  background-color: rgb(8 145 178);
}
